body{
    background: white;
}
.navegacion{
    position: absolute;
    width: 250px;
    height: 65%;
    background: black;
    overflow: hidden;
    -webkit-transition: width 0.5s;
}
.navegacion ul a:hover{
    width: 170px;
}
.menu > li{
    line-height: 40px;
    position: relative;
}
/* menu */
.menu > li> a{
    margin-left: 60px;
   line-height: 40px;
    color: white;
    font-family: 'Open sans';
    text-decoration: none;
    
}

.menu li a:hover{
    color: red;
    transition: all .3s;
}
/* submenu */
.submenu{
    position: absolute;
    background: white;
     width: 200px;
     visibility: hidden;
     opacity: 0;
     transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: black;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}