<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
          <a href="/JavaServerFaces/faces/login.xhtml">Login page</a>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="estilo.css"></link>

    </h:head>
    <h:body>
         <h:form>
        <b><h1><center>ESTUDIANTES</center></h1></b>
        <br></br>
        <br></br>
          
           <p:growl id="messages" showDetail="true"/>
 
           <left><p:menuButton value="MATERIAS">
        <p:menuitem value="Matematicas" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:menuitem value="Lenguaje" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:menuitem value="Ingles" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:menuitem value="ciencias" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:menuitem value="computacion" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:separator />
        <p:menuitem value="PaginaPrincipal" url="http://www.primefaces.org" icon="pi pi-home"/>
    </p:menuButton> 
           </left>  
           <br></br>
            <br></br>
             <br></br>
              <br></br>
            <p:growl id="Estado" showDetail="true" sticky="true" />  
       
            <p:panel style="color: #003399" header="Publicaciones">  
        <h:panelGrid columns="2" cellpadding="5">  
            <p:outputLabel  style="color: background" value="Jose Luis  →" > Publicacion de ejemplo.docx </p:outputLabel>
            <br/><br/>
            <p:commandButton icon="ui-icon-down" value="Descargar" />
            <br/><p:separator style="width:1300px;height:5px" /><br/>
            <p:outputLabel  style="color: background" value="Jose Luis  →" > Publicacion de ejemplo.docx</p:outputLabel>
            <br/><br/>
            <p:commandButton icon="ui-icon-down" value="Descargar" />
            <br/><p:separator style="width:1300px;height:5px" /><br/>
            <p:outputLabel  style="color: background" value="Jose Luis  →" > Publicacion de ejemplo.docx</p:outputLabel>
            <br/><br/>
            <p:commandButton icon="ui-icon-down" value="Descargar" />
            <br/><p:separator style="width:1300px;height:5px" /><br/>
            <p:outputLabel  style="color: background" value="Jose Luis  →" > Publicacion de ejemplo.docx</p:outputLabel>
            <br/><br/>
            <p:commandButton icon="ui-icon-down" value="Descargar" />
            <br/><p:separator style="width:1300px;height:5px" /><br/>
            <p:outputLabel  style="color: background" value="Jose Luis  →" > Publicacion de ejemplo.docx</p:outputLabel>
            <br/><br/>
            <p:commandButton icon="ui-icon-down" value="Descargar" />
            <br/><p:separator style="width:1300px;height:5px" /><br/>
            

              
        </h:panelGrid>   
   
       
          
    </p:panel>     
         </h:form>  
    </h:body>
</html>
