<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>3roG_6</title>
    </h:head>
    
    <h:body>
            <p:outputLabel><h1><center>Bienvenido a EDUCA</center></h1></p:outputLabel> 
        <p:growl id="growl"  sticky="true" showDetail="true"/>
        <h:form>
            <center><h:panelGrid columns="2" style="position: absolute; top: 250px; left: 500px;">
                <f:facet name="header">Ingrese sus datos</f:facet>
                <p:outputLabel value="Usuario"/>
                <p:inputText value="#{login.username}"/>
                <p:outputLabel value="Clave"/>
                <p:password value="#{login.password}"/>   
                
                <f:facet name="footer"></f:facet>
                <p:commandButton icon="ui-icon-key" value="Login" action="#{login.loginControl()}" />
        </h:panelGrid></center>
  
      </h:form>
        <p:separator />
          <center><h:link outcome="welcomePrimefaces" value="Primefaces" /></center>
    </h:body>
</html>