<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
    </h:head>
    <h:body>
       
        <div>
            <right> <img src="persona.jpg"/></right>
        </div>    
         <h:form>
             <p:outputLabel><h1><center><img src="libro.png" height="31" width="31"/>BIENVENIDO @ EDUCA<img src="libro.png" height="31" width="31"/></center></h1></p:outputLabel>
        <br></br>
        <br></br>
          
           <p:growl id="messages" showDetail="true"/>
 
           <center><p:menuButton value="MATERIAS">
        <p:menuitem value="Matematicas" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:menuitem value="Lenguaje" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:menuitem value="Ingles" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
        <p:separator />
        <p:menuitem value="PaginaPrincipal" url="http://www.primefaces.org" icon="pi pi-home"/>
    </p:menuButton> 
           </center>  
           <br></br>
            <br></br>
             <br></br>
              <br></br>
            <p:growl id="Estado" showDetail="true" sticky="true" />  
       
    <p:panel header="Estado">  
        <h:panelGrid columns="2" cellpadding="5">  
            <p:outputLabel for="msg" value="Mensaje" />   
            <p:inputText id="msg" value="#{growlView.message}" required="true" />  
        </h:panelGrid>  
   
       <f:facet name="footer"><p:commandButton icon="ui-icon-comment" value="Publicar" /></f:facet>
        
         <f:facet name="footer"><p:commandButton icon="ui-icon-image"></p:commandButton></f:facet>
          <f:facet name="footer"><p:commandButton icon="ui-icon-video"></p:commandButton></f:facet>
    </p:panel>     
         </h:form>  
    </h:body>
</html>
