body{
    background:#313D52; 
}
.navegacion{
    width: 200px;
    margin: 30px auto;
    background-color: black;    
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    display: inline-block;
    position: relative;
}
/* menu */
.menu > li> a{
    display: block;
    padding: 15px 20px;
    color: black;
    font-family: 'Open sans';
    text-decoration: none;
    
}

.menu li a:hover{
    color: red;
    transition: all .3s;
}
/* submenu */
.submenu{
    position: absolute;
    background: black;
     width: 100px;
     visibility: hidden;
     opacity: 0;
     transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-jul-2019, 11:02:20
    Author     : PC
*/

